/*
  There is no damn license on this. Use it however you want to.
  Adding it to your website ?? Send me a message on twitter, it can light up my day.

  Prashanth Raghu on twitter -> http://twitter.com/prashanthraghu
*/

/*
body{
  overflow:hidden;
}
*/

ul#simpleQuote{
	list-style-type:none;
}

ul#simpleQuote li{
	font-family: 'Libre Baskerville', serif;
	font-size: 17px;
	width : 90%;
    margin-left: auto;
    margin-right: auto;
}

#container {
  margin:150px auto;
  max-width:960px
}

#author{
	font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
	font-size: 15px;
	right: 0px;
    margin-bottom: 200px;
}


/*
.footer {
	font-family: 'Ribeye Marrow' , cursive;
	font-size: 18px;
	margin-left : 12%;
	margin-top: 26%;
}
*/
