body{
    font-family: 'Libre Baskerville', serif;
    color: #EEEBDC;
    height: auto;
    background: -moz-linear-gradient(-90deg, #210B03, #562F1F); 
    background: -o-linear-gradient(-90deg, #210B03, #562F1F);   
    background: -webkit-linear-gradient(-90deg, #210B03, #562F1F); 
    background: -ms-linear-gradient(-90deg, #210B03, #562F1F); 
/*
    background-color: #562F1F;
    background-image: url('../images/fond_livre_ML5.png');
    background-repeat: repeat;
*/
}
/*HEADER DE DJE*/
#imgLogoAll {
    height: 150px;
    width: 150px;
}

header {
    width: 80%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#iconesHeaderAll {
    display: flex;
    flex-direction: row;
}

.fa-2x {
    font-size: 1.5em;
    padding: 2px;
    text-shadow: 1px 2px 2px black;
}

.visible {
    display: block;
}

nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    z-index: 1;
    background: white;
    opacity: 0.7;
    text-align: center;
}

nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: black;
    margin: 15px;
    font-size: large;
}

nav a:hover {
    background: ;
    color: #2d303a;
}

header button {
    color: white;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#frEng{
    display: flex;
    justify-content: center;
}

/* Fin header Dje */

/***** MAIN ZUZU ******/
#imgSlogan{
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 150px;

}

#slogan > p{
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 400px;
    background-color: rgba(238, 235, 220, 0.5);
    border-radius: 3px;
    margin-left: 10%;
    margin-top: -250px;
    position: absolute;
    z-index: 1;
}

h1{
    font-family: 'Georgia', cursive;
    color: #EEEBDC;
    text-transform: uppercase;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-family: 'Georgia', cursive;
    color: #EEEBDC;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 2px 2px black;
}

h3{
    font-family: 'Georgia', cursive;
    color: #EEEBDC;
    text-transform: uppercase;
    text-align: center;
}

#titreDroite{
    text-align: right;
    color: #EEEBDC;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 2px 2px black;
}

#pCitation{
    color: #EEEBDC;
    font-size: 20px;
}
.ligneSeparatrice{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #EEEBDC;
    margin-top: 20px;
    
}

#nouveautes{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

li {
    list-style: none;
}

.CouvQuiMonte{
    width: 150px;
    height: 230px;
    margin-right: 5px;
}

.CouvQuiMonte:hover{
    margin-top: -20px;
    transition-duration: 0.5s;  
}

.CouvQuiMonte::after{
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    box-shadow: 12px 10px 10px 2px black;
}

#cdcoeur{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #EEEBDC;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#livresAuteur{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #EEEBDC;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

#imgGalerie{
    width: 150px;
    height: 230px;
    box-shadow: 3px 3px 1px #EEEBDC;
    margin: 5px;
    transition-duration: 0.5s;
}

#imgGalerieLivres{
    width: 150px;
    height: 230px;
    box-shadow: 3px 3px 1px #EEEBDC;
    margin: 5px;
    transition-duration: 0.5s;
}

#imgGalerieLivres:hover{
    width: 155px;
    height: 235px;
    box-shadow: 0px 8px 20px #EEEBDC;
    
}

/************PAGE AUTEUR***********/

#biographie{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #EEEBDC;
    font-family: 'Georgia';
    text-align: justify;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 1px 0px 3px black;
    background-color: #663333;
    border-radius: 3px;
}

#PhotoAuteur{
    box-shadow: 1px 0px 3px black;
    width: 400px;
}

#texteBio{
    font-family: 'Georgia';
    padding: 20px;
    padding-right: 30px;
    
}

#LienAutreLangue{
    color: #EEEBDC;
    display:block;
    width: 19%;
    text-align: center;
    margin:0 auto;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 1s;
}

#LienAutreLangue:hover{
    color: #663333;
    font-weight: 700;
    background-color: rgba(238, 235, 220, 0.7);
    border-radius: 20px;
    padding: 7px;
}

/************Fin page auteur***********/

/*     DEBUT CODE CAT SEARCH          */
/*Search*/
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #210B03 url(http://nsm07.casimages.com/img/2017/10/12//17101211072313539015314933.png) no-repeat 6px center;
/*	border: solid 1px #ccc;*/
    border: none;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #210B03 ;
	border-color: #EEEBDC;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 - Search */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #210B03;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #fff;
	background-color: #210B03;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

/*      FIN CODE CAT SEARCH    */

/*--------RESEAUX SOCIAUX---------*/

#resSoc {
    /*
    display: flex;
    flex-direction: column;
*/
    position: fixed;
    right: 50px;
    width: 30px;
    height: 30px;
    font-size: 25px;
}

/*---------------------------*/


/******** Bas de page **********/
#basDePage{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 200px;
}

.cadreBDP{
    width: 250px;
    height: 150px;
    color: #EEEBDC;
    text-transform: uppercase;
    text-align: justify;
    font-size: 18px;
    padding: 20px;
    border-radius: 3px;
    margin-top: 100px;
    background-color: #663333;
    transition-duration: 1s;
    box-shadow: 1px 1px 4px 0px black;
}

.cadreBDP:hover{
    background-color: rgba(238, 235, 220, 0.5);
    color: #210B03;
}

.cadreBDP > h2{
    text-align: center;
    margin-top: 5px;
}

/*********FOOTER ZUZU**********/
footer{
    text-align: center;
    color: #EEEBDC;
    font-size: 12px;
    opacity: 0.5;
    
}
/*-------------MOBILE------------*/

@media (min-width: 200px) and (max-width: 761px) {
    #imgLogoAll {
        height: 70px;
        width: 70px;
    }
    #iconesHeaderAll {
        display: flex;
        flex-direction: row;
    }
    header {
        width: 95%;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
/*
        background-color: black;
        position: fixed;
        z-index: 8;
*/
    }

    nav{
        width: 100%;
        opacity: 1;
    }

    .visible {
        display: block;
    }
    .fa-2x {
        font-size: 1em;
        padding: 2px;
    }

    /***** MAIN ZUZU ******/
#imgSlogan{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 150px;

}

#imgSlogan > img{
    width: 100%;
    margin-top: 5px;
}

#slogan > p{
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 20px;
    width: 100%;
    background-color: rgba(238, 235, 220, 0);
    border-radius: 3px;
    margin-left: 0;
    margin-right: 0;
    margin-top: -230px;
    position: absolute;
    z-index: 1;
}

#display{
    margin-left: auto;    
    margin-right: auto;    
}
    
    ul#simpleQuote li{
        margin-bottom: 10px;
        padding-bottom: 20px;
    }
    
    #nouveautes{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

li {
    list-style: none;
}

h2{
    text-align: left;
    font-family: 'Georgia', cursive;
    color: #EEEBDC;
    text-transform: uppercase;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 2px 2px black;
}

#titreDroite{
    text-align: left;
    color: #EEEBDC;
    text-transform: uppercase;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 2px 2px black;
}    
    
#imgGalerie{
    width: 120px;
    height: 200px;
    box-shadow: 3px 3px 1px #EEEBDC;
    margin: 5px;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
}

#nouveautes{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

li {
    list-style: none;
}    

.CouvQuiMonte{
    width: 150px;
    height: 230px;
    margin-bottom: 10px;
}

.CouvQuiMonte:hover{
    margin-top: 0;
    transition-duration: 0.5s;  
}

.CouvQuiMonte::after{
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    box-shadow: 12px 10px 10px 2px black;
}

#cdcoeur{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #EEEBDC;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/************PAGE AUTEUR***********/

#biographie{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #EEEBDC;
    font-family: 'Georgia';
    text-align: justify;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 1px 0px 3px black;
    background-color: #663333;
    border-radius: 3px;
}

#PhotoAuteur{
    box-shadow: 1px 0px 3px black;
    width: 100%;
}

#texteBio{
    font-family: 'Georgia';
    padding: 20px;
    padding-right: 30px;
    
}

#LienAutreLangue{
    color: #EEEBDC;
    display:block;
    width: 80%;
    text-align: center;
    margin:0 auto;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 1s;
}
    
/*-----------DEBUT CODE CAT SEARCH ---------*/
/*Search*/
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #210B03 url(http://nsm07.casimages.com/img/2017/10/12//17101211072313539015314933.png) no-repeat 6px center;
/*	border: solid 1px #ccc;*/
    border: none;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #210B03 ;
	border-color: #EEEBDC;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 - Search */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #210B03;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #fff;
	background-color: #210B03;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

/*      FIN CODE CAT SEARCH    */
    
/*--------RESEAUX SOCIAUX---------*/

    #resSoc {
        /*
        display: flex;
        flex-direction: column;
    */
        position: fixed;
        right: 0px;
        width: 30px;
        height: 30px;
        font-size: 25px; 
    }
    
    
    }
