body {
    font-family: 'Libre Baskerville', serif;
    height: auto;
    color: #EEEBDC;
    background: -moz-linear-gradient(-90deg, #210B03, #562F1F);
    background: -o-linear-gradient(-90deg, #210B03, #562F1F);
    background: -webkit-linear-gradient(-90deg, #210B03, #562F1F);
    background: -ms-linear-gradient(-90deg, #210B03, #562F1F);
}

/*-------------DESKTOP-----------*/

/*-------------HEADER------------*/

#imgLogoAll {
    height: 140px;
    width: 140px;
}

header {
    width: 95%;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#iconesHeaderAll {
    display: flex;
    flex-direction: row;
}

.fa-2x {
    font-size: 1.5em;
    padding: 2px;
}

.visible {
    display: block;
}

nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    z-index: 5;
    background: white;
    opacity: 0.7;
    text-align: center;
    padding-bottom: 10px;
}

nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: black;
    margin: 15px;
    font-size: large;
}

nav a:hover {
    background: ;
    color: #2d303a;
}

header button {
    color: white;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#frEng{
    display: flex;
    justify-content: center;
}
/*--------------MAIN-------------*/

h1 {
    margin-left: 150px;
    margin-top: 0;
    text-transform: uppercase;
}

#divLivres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-around;
    width: 80%;
    margin-left: 150px;
}

.imgLivres {
    width: 150px;
    height: 230px;
    box-shadow: 3px 3px 1px #EEEBDC;
    margin: 5px;
}

a{
    color: white;
}

/*-------HOVER - CATEGORIES-------*/

div ul,
div li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu img {
    width: 30px;
    height: 30px;
    padding: 10px;
    vertical-align: middle;
    font-size: 25px;
}


.menu:hover,
div.menu.expanded {
    width: 180px;
    overflow: visible;
}

.menu {
    background: rgba(255, 255, 255, 0.3);
    position: fixed;
    margin-left: 2%;
    padding: 5px;
    max-height: 550px;
    width: 50px;
    overflow: hidden;
    z-index: 100;
    top: 185px;
}


.menu li > a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #EEEBDC;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}


.menu span {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 355px;
    padding-left: 20px;
    color: #EEEBDC;
}

.menu li:hover > a,
div.menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page div.dashboard-menu ul li:hover a,
.dashboard-page div.dashboard-menu ul li.active a {
    color: #EEEBDC;
    background-color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
}

/*--------HOVER - LIVRES---------*/

/*---nom class effetLivres------*/

.effetLivres {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin: 50px;
}

.effetLivres * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.effetLivres:before,
.effetLivres:after {
    background-color: rgba(0, 0, 0, 0.5);
    /*
  border-top: 50px solid rgba(0, 0, 0, 0.5);
  border-bottom: 50px solid rgba(0, 0, 0, 0.5);
*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
}

.effetLivres:before {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
}

.effetLivres:after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
}

.effetLivres img {
    vertical-align: top;
    backface-visibility: hidden;
}

.effetLivres figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.effetLivres h4 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.effetLivres a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.effetLivres:hover > img,
.effetLivres.hover > img {
    margin: 0;
    opacity: 0.7;
}

.effetLivres:hover:before,
.effetLivres.hover:before,
.effetLivres:hover:after,
.effetLivres.hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.effetLivres:hover figcaption,
.effetLivres.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/*--------RESEAUX SOCIAUX---------*/

#resSoc {
    /*
    display: flex;
    flex-direction: column;
*/
    position: fixed;
    right: 50px;
    width: 30px;
    height: 30px;
    font-size: 25px;
}

/*-------------FOOTER------------*/

footer {
    text-align: center;
    color: #EEEBDC;
    font-size: 12px;
    opacity: 0.5;
    margin: 2%;
}

/*-------------MOBILE------------*/

@media (min-width: 200px) and (max-width: 761px) {
    #imgLogoAll {
        height: 70px;
        width: 70px;
    }
    #iconesHeaderAll {
        display: flex;
        flex-direction: row;
    }
    header {
        width: 95%;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        width: 100%;
        opacity: 1;
    }

    .visible {
        display: block;
    }
    .fa-2x {
        font-size: 1em;
        padding: 2px;
    }

    #divLivres {
        margin-left: 50px;
    }

    .menu {
        /*        position: absolute;*/
        margin-left: 2%;
        margin-top: 0;
        top: 70px;
    }
    .menu img {
        padding: 3px;
    }

    .menu:hover,
    div.menu.expanded {
        width: 50px;
        overflow: hidden;
    }

    .menu li:hover > a,
    div.menu li.active > a,
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus,
    .no-touch .dashboard-page div.dashboard-menu ul li:hover a,
    .dashboard-page div.dashboard-menu ul li.active a {
        color: none;
        background-color: none;
        background: none;
    }
    /*--------RESEAUX SOCIAUX---------*/
    #resSoc {
        /*
    display: flex;
    flex-direction: column;
*/
        position: fixed;
        right: 0px;
        width: 30px;
        height: 30px;
        font-size: 25px;
    }
}
